In [1]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [53]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [8]:
df_txt = pd.read_csv('pokemon_data.txt', delimiter = '\t')

In [9]:
df_txt

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
## reading headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [13]:
## reading each column
# print(df['Name'][0:5])

## multiple columns
# print(df[['Name', 'Type 1', 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [16]:
## read each row
# print(df.head(4))

# print(df.iloc[1])  # integer location e.g - everything from the 1st row

## multiple rows
print(df.iloc[1:5])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [17]:
## read a specific location for example 2nd row first column value
print(df.iloc[2, 1])

Venusaur

In [31]:
# go row by row and access any sort of data from the dataframe
# for index, row in df.iterrows():
#     if index % 2 == 0:
#         print(index, row['Name'])

In [16]:
## and & or | condition
# df.loc[(df['Type 1'] == "Fire") | (df['Type 2'] == "Poison")]

## selecting single row by its index label
# print(df.loc[1])
# print(df.loc[1:3])

# print(df.iloc[100:, 7:])
# print(df.iloc[1:3, 7:12])

## select multiple row by labels
# print(df.loc[[1, 2,100]])

## select specific row and column
# df.loc[[2, 4], ["Name", "Type 1"]]

## filter row by applying boolean condition
 # df.loc[df['Type 1'] == "Fire"]

## select all row but only specific columns
# df.loc[:,["Name", "Type 1"]]
# df.loc[1:3, ]

## update a single value
# df.loc[1, "Type 2"] = "Dragon"
# df.loc[1, "Type 2"]

## update multiple rows based on a condition
# df.loc[df['Type 1'] == "Fire", "Type 2"] == "Flame" # update  Type 2 columns to Flame for all rows where Type 1 column is Fire

## add new column based on a condition
# df.loc[:, "Legendary"] = df['Type 1'] == "Fire" # add a new column called legendary for all rows, settigs its value to true for rows where Type 1 is fire and false otehrwise

## for multiple value alternative is mapping
# df.loc[df['Type 1'] == "Fire", Legendary] = 1
# df.loc[df['Type 1'] == "Grass", Legendary] = 2
# df.loc[df['Type 1'] == "Rock", Legendary] = 3

## mapping
# type_mapping = {"Fire": 1, "Grass": 2, "Rock": 3}
# df['Legendary'] = df['Type 1'].map(type_mapping)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [9]:
## Sorting / describing
# df.describe()
# df.sort_values(['Name'], ascending = False)
# df.sort_values(['Type 1', 'HP'], ascending = True)
# df.sort_values(['Type 1', 'HP'], ascending = [1, 0]) # Type 1 A to Z and HP high number to low number

In [10]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [45]:
## making changes to the data
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df = df.drop(columns['Total'])
#  counting from 0 ,1 ,2 ,3 ..... (index is 0)
df['Total'] = df.iloc[:, 4:10].sum(axis = 1) ## adding horizontylls (row wise)
# df.head()

## rearrenging the columns
# cols = list(df.columns.values)
# cols
# df
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] # 0 to 3 + last column + 4 to 11
# df.head(b)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,750,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,970,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,1170,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,553,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,1150,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,1290,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,1130,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,1280,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,1130,80,110,120,130,90,70,6,True

In [69]:
## get the specific column index
# df.columns.get_loc(['Type 1'])

## for multiple column index
# columns = ['Type 1', 'Type 2']
# column_indeices = [df.columns.get_loc(col) for col in columns] 
# print(column_indeices)

## for all column indecies
# col_indecies = {col: idx for idx, col in enumerate(df.columns)} # assign index to each column in the datafrmaes column list
# print(col_indecies)

# columns = list(range(len(df.columns)))
# print(columns)

# column_indecies = list(zip(df.columns, range(len(df.columns)))) # pairs each column name with the correspondng index to create tuples
# print(column_indecies)

[('#', 0), ('Name', 1), ('Type 1', 2), ('Type 2', 3), ('Total', 4), ('HP', 5), ('Attack', 6), ('Defense', 7), ('Sp. Atk', 8), ('Sp. Def', 9), ('Speed', 10), ('Generation', 11), ('Legendary', 12)]

In [46]:
df.to_csv('modified.csv', index = False)
# df.to_excel('modified.xlsx', index = False)
# df.to_csv('modified.txt', index = False, sep = '\t')

In [25]:
## filtering data
# df.loc[(df['Type 1'] == "Grass") & (df['Type 2'] == 'Poison')] 

# df.loc[(df['Type 1'] == "Grass") | (df['Type 2'] == 'Poison')] 

# new_df = df.loc[(df['Type 1'] == "Grass") & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] 
# new_df = new_df.reset_index() # previous index will be a column
# new_df
# new_df = new_df.reset_index(drop = True) # previous index column will be droped
# new_df

## memory friendly
# new_df.reset_index(drop = True, inplace = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [27]:
## all name contains mega
# df.loc[df['Name'].str.contains('Mega')]

## no mega in the name
# df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [28]:
import re

In [33]:
# df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)] # without regex = True is also possible
# df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex = True)] # flag for ignore the case

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [36]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)] # begin with pi following to any words in Name column

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

In [41]:
## if type 1 column has fire vakue change it to flamer
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

In [42]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [52]:
df = pd.read_csv('modified.csv')

In [53]:
## changing in the multiple columns
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE' # IF Total has value is ggreater than 500, generation and legendary column value will be changed to the TEST VALUE

# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2'] # changing seperately
# df.loc[df['Total'] < 500]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,750,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,970,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,1170,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,553,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,1150,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,1290,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,1130,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,1280,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,1130,80,110,120,130,90,70,6,True

In [55]:
## aggregation
df = pd.read_csv('modified.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,750,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,970,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,1170,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,553,39,52,43,60,50,65,1,False

In [65]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [74]:
# select_dtypes = df.select_dtypes(include = ['number'])
# select_dtypes
# df.groupby(['Type 1'])[select_dtypes.columns].mean()

# which pokemon has heighst defense
# df.groupby(['Type 1']).mean(numeric_only = True).sort_values('Defense', ascending = False)

# which pokemon has highest attack
# df.groupby(['Type 1']).mean(numeric_only = True).sort_values('Attack', ascending = False)

In [79]:
# df.groupby(['Type 1']).sum(numeric_only = True)

In [81]:
df = pd.read_csv('modified.csv')

df['count'] = 1
#df
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [84]:
## load chunksize of teh data from the big dataset
# for df in pd.read_csv('modified.csv', chunksize = 5):
#     print(df)

In [87]:
new_df = pd.DataFrame(columns = df.columns) 
for df in pd.read_csv('modified.csv', chunksize = 5):
    results = df.groupby(['Type 1']).count()

    new_df = pd.concat([new_df, results])

In [92]:
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2

In [90]:
# df_new = pd.DataFrame(columns = df.columns)
# for df in pd.read_csv('modified.csv', chunksize = 8):
#     df_new = pd.concat([df_new, df])

In [91]:
# df_new

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,750,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,970,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,1170,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,553,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,1150,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,1290,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,1130,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,1280,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,1130,80,110,120,130,90,70,6,True